<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>CreateTag</servlet-name>
        <servlet-class>com.example.codechallenge.CreateTag</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateTag</servlet-name>
        <url-pattern>/CreateTag</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewTags</servlet-name>
        <servlet-class>com.example.codechallenge.ViewTags</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewTags</servlet-name>
        <url-pattern>/ViewTags</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewTagById</servlet-name>
        <servlet-class>com.example.codechallenge.ViewTagById</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewTagById</servlet-name>
        <url-pattern>/ViewTagById</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewAllUsers</servlet-name>
        <servlet-class>com.example.codechallenge.ViewAllUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewAllUsers</servlet-name>
        <url-pattern>/ViewAllUsers</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteTag</servlet-name>
        <servlet-class>com.example.codechallenge.DeleteTag</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTag</servlet-name>
        <url-pattern>/DeleteTag</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>TagAnObject</servlet-name>
    <servlet-class>com.example.codechallenge.TagAnObject</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>TagAnObject</servlet-name>
        <url-pattern>/TagAnObject</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditTag</servlet-name>
        <servlet-class>com.example.codechallenge.EditTag</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditTag</servlet-name>
        <url-pattern>/EditTag</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewAllTaggedObject</servlet-name>
        <servlet-class>com.example.codechallenge.ViewAllTaggedObject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewAllTaggedObject</servlet-name>
        <url-pattern>/ViewAllTaggedObject</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>parentTag</servlet-name>
        <servlet-class>com.example.codechallenge.parentTag</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>parentTag</servlet-name>
        <url-pattern>/parentTag</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetTagParentID</servlet-name>
        <servlet-class>com.example.codechallenge.GetTagParentID</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTagParentID</servlet-name>
        <url-pattern> /GetTagParentID</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewTagRelation</servlet-name>
        <servlet-class>com.example.codechallenge.ViewTagRelation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewTagRelation</servlet-name>
        <url-pattern> /ViewTagRelation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetTagChildID</servlet-name>
        <servlet-class>com.example.codechallenge.GetTagChildID</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetTagChildID</servlet-name>
        <url-pattern>/GetTagChildID</url-pattern>
    </servlet-mapping>

</web-app>